@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --theme-color: #792c7e;
  --theme-red: #fc6565;
  --theme-green: #65fc8f;
}

html,
body {
  font-size: 62.5%;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
}

.highlight {
  color: var(--theme-color);
}
